.header,
.playlist {
  display: flex;
  flex-direction: column;
  padding: 24px;
  margin: 4px;
  background-color: var(--container-bg);
  border-radius: 8px;
}
.header-logo {
  font-size: 16px;
  margin-bottom: 10px;
}
.header-links {
  display: flex;
  flex-direction: column;
}
.links {
  display: flex;
  align-items: flex-end;
  color: var(--links);
  margin: 6px 0;
  transition: color 0.3s;
}
.links:hover {
  color: #fff;
}
.icons {
  margin-right: 6px;
}
