@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --background: rgb(0, 0, 0, 1);
  --container-bg: rgba(18, 18, 18, 1);
  --songs-bg: rgba(50, 50, 50, 0.5);
  --selected-songs-bg: rgba(50, 50, 50, 0.7);
  --links: rgba(200, 200, 200, 1);
  --btt-color: rgba(0, 176, 191, 1);
  --details: rgba(160, 160, 160, 1);
}
html {
  background-color: var(--background);
  scroll-behavior: smooth;
  padding-bottom: 2000px;
}

* {
  margin: 0;
  font-family: Arial;
  text-decoration: none;
  color: white;
}

button {
  cursor: pointer;
}

.main-container {
  display: flex;
}
.left-section {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
.right-section {
  padding-top: 8px;
  padding-left: 320px;
}
