.player-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 8px;
  left: 380px;
  right: 50px;
  padding: 20px;
  background-color: var(--player-bg);
  border-radius: 8px;
  z-index: 100;
}
.player-left-section {
  display: flex;
  align-items: center;
  width: 200px;
  margin-right: 90px;
}
.player-song-thumbnail {
  width: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.player-song-img {
  width: 100%;
}
.player-song-details {
  margin-left: 10px;
}
.player-song-title {
  margin-bottom: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  cursor: pointer;
}
.player-song-artist {
  color: var(--details);
  font-size: 12px;
  cursor: pointer;
}
.player-middle-section {
  text-align: center;
  flex: 1;
  max-width: 660px;
}
.player-btts {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  flex-shrink: 0;
}
.player-btt {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  margin: 4px 10px;
  transition: transform 0.3s;
}
.player-btt:hover {
  transform: scale(1.1);
}
.pause-btt {
  height: 40px;
  width: 40px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
}
.shuffle-icon,
.replay-icon {
  width: 18px;
}
.active-btt {
  background-color: var(--active-color);
  border-radius: 4px;
}
.song-duration {
  display: flex;
  align-items: center;
  justify-content: center;
}
.song-duration-range {
  width: 100%;
  margin: 0 10px;
}
.song-duration-range::-webkit-slider-runnable-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
}
.player-right-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 90px;
}
.equalizer-btt {
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;
}
.equalizer-icon {
  cursor: pointer;
}
.equalizer-popup {
  display: none;
  position: absolute;
  background-color: var(--selected-songs-bg);
  top: -270px;
  left: -120px;
  padding: 30px;
  border-radius: 8px;
}
.show-equalizer {
  display: block;
}
.equalizer-canvas {
  filter: blur(2px) contrast(3);
}
.volume-btt {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.volume-range {
  margin-left: 10px;
  vertical-align: middle;
}
.volume-range::-webkit-slider-runnable-track {
  background-color: #053a5f;
  border-radius: 0.5rem;
}
.current-time,
.song-time {
  letter-spacing: 1px;
}
@media (max-width: 1281px) {
  .player-container {
    left: 50px;
  }
}
@media (max-width: 952px) {
  .player-container {
    flex-direction: column;
    text-align: center;
  }
  .player-left-section {
    margin-right: 0px;
  }
  .player-song-details {
    margin-left: 10px;
  }
  .player-song-title {
    margin-bottom: 10px;
    -webkit-line-clamp: 1;
  }
  .player-middle-section {
    margin: 30px 0;
  }
  .player-right-section {
    margin-left: -50px;
  }
}
