.playlist {
  flex: 1;
  margin-top: 4px;
}
.playlist-songs-container {
  margin: 10px 0;
}
.playlist-song {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.playlist-img-container {
  width: 40px;
  height: 40px;
  margin-right: 20px;
  cursor: pointer;
}
.playlist-thumbnail {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}
.playlist-song-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 160px;
}
.playlist-song-title {
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  cursor: pointer;
}
.playlist-play-btt {
  background-color: transparent;
  border: none;
  transition: transform 0.3s;
}
.playlist-play-btt:hover {
  transform: scale(1.1);
}
.playlist-play-icon {
  width: 26px;
}
